{% load shop_tags %}
{% load static i18n %}

<h3>{% trans "Rating Breakdown" %}</h3>
<div class="d-grid gap-1">
  {% for star in "54321" %}
    {% with rating=rating_data|dict_get:star %}
      <a class="row align-items-center text-decoration-none" href="#" style="max-width: 25rem;">
        <div class="col-3">
          <span class="text-dark">{{ star }} {% trans "star" %}</span>
        </div>
        <div class="col-7">
          <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width: {{ rating.percent|default:0 }}%;"
                 aria-valuenow="{{ rating.percent|default:0 }}"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-2 text-end">
          <span>{{ rating.count|default:"0" }}</span>
        </div>
      </a>
    {% endwith %}
  {% endfor %}
</div>
