asgiref==3.8.1
Django>4.2,<4.3
psycopg==3.2.9
psycopg-binary==3.2.9
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.14.0
djangorestframework==3.14
django-debug-toolbar
django-mail-templated==2.6.5
redis
celery

django_celery_beat
djangorestframework-simplejwt

pillow==11.2.1
faker

requests>=2.0

dj-database-url
gunicorn
psycopg2-binary
