{% extends 'dashboard/admin/base.html' %}
{% load static i18n %}

{% block extra_css %}
<style>
  .bg-pending {
    background-color: #495057;
  }
  .bg-accepted {
    background-color: #198754;
  }
  .bg-rejected {
    background-color: #dc3545;
  }
</style>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">{% trans "Account" %}</li>
    <li class="breadcrumb-item">{% trans "Admin Dashboard" %}</li>
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Reviews" %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block dashboard_content %}
<div class="card">
  <!-- Header -->
  <div class="card-header border-bottom">
    <form action="." class="row">
      <!-- Search -->
      <div class="col-md-3 py-1">
        <input type="text" class="form-control form-control-sm"
               placeholder="{% trans 'Search Reviews' %}"
               name="q" id="search-query-filter">
      </div>

      <!-- Status -->
      <div class="col-md-3 py-1">
        <select class="form-select form-select-sm" id="status-type-filter" name="status">
          <option value="">{% trans "Status" %}</option>
          {% for status_type in status_types %}
            <option value="{{ status_type.0 }}">{{ status_type.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Order -->
      <div class="col-md-3 py-1">
        <select class="form-select form-select-sm" id="order-by-filter" name="order_by">
          <option value="">{% trans "Sort By" %}</option>
          <option value="-created_date">{% trans "Newest" %}</option>
          <option value="created_date">{% trans "Oldest" %}</option>
        </select>
      </div>

      <!-- Page Size -->
      <div class="col-md-2 py-1">
        <select class="form-select form-select-sm" id="page-size-filter" name="page_size">
          <option value="">{% trans "Page Size" %}</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
      </div>

      <!-- Submit -->
      <div class="col-md-1 py-1">
        <button type="submit" class="btn btn-sm btn-icon btn-primary btn-search">
          <i class="bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <!-- Info -->
    <div class="d-sm-flex align-items-sm-center mb-5">
      <div class="mb-2 mb-sm-0 me-3">
        <span>
          <strong class="text-dark">{{ total_items }} {% trans "reviews" %}</strong>
        </span>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Full Name" %}</th>
            <th>{% trans "Rating" %}</th>
            <th>{% trans "Created At" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ object.product.title }}</td>
            <td>{{ object.user.user_profile.get_fullname }}</td>
            <td>{{ object.rate }}</td>
            <td>{{ object.created_date|date:"Y-m-d H:i" }}</td>
            <td>
              <span class="badge bg-{{ object.get_status.title }}">
                {{ object.get_status.label }}
              </span>
            </td>
            <td class="d-flex">
              <a class="btn btn-sm btn-icon btn-ghost-secondary"
                 href="{% url 'dashboard:admin:review-edit' pk=object.pk %}">
                <i class="bi-pencil-square"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="text-center text-muted">
              {% trans "No reviews found." %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- End Table -->

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation" class="pt-5 mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <button class="page-link" onclick="changePage('{{ page_obj.previous_page_number }}')" aria-label="Previous">
            <i class="bi-chevron-double-right small"></i>
          </button>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
          {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <li class="page-item">
              <button class="page-link" onclick="changePage('{{ i }}')">{{ i }}</button>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <button class="page-link" onclick="changePage('{{ page_obj.next_page_number }}')" aria-label="Next">
            <i class="bi-chevron-double-left small"></i>
          </button>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!-- End Pagination -->
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {
    let current_url_params = new URLSearchParams(window.location.search);
    $("#page-size-filter").val(current_url_params.get("page_size") || "");
    $("#order-by-filter").val(current_url_params.get("order_by") || "");
    $("#search-query-filter").val(current_url_params.get("q") || "");
    $("#status-type-filter").val(current_url_params.get("status") || "");
  });

  $("#page-size-filter, #order-by-filter").change(function () {
    let current_url_params = new URLSearchParams(window.location.search);
    current_url_params.set($(this).attr("name"), $(this).val());
    current_url_params.set("page", 1);
    let new_url = window.location.pathname + "?" + current_url_params.toString();
    window.location.href = new_url;
  });
</script>
{% endblock %}
