{% extends 'dashboard/admin/base.html' %}
{% load static i18n %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">{% trans "Account" %}</li>
    <li class="breadcrumb-item">{% trans "Admin Dashboard" %}</li>
    <li class="breadcrumb-item">{% trans "Reviews" %}</li>
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Edit Review" %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block dashboard_content %}
<div class="card">
  <!-- Header -->
  <div class="card-header border-bottom d-flex justify-content-between align-items-center">
    <h5 class="card-header-title">{% trans "Edit Review" %}</h5>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="row">
        
        <!-- Product Name -->
        <div class="col-md-6 mb-3">
          <label class="form-label">{% trans "Product Name" %}</label>
          <input class="form-control" type="text" value="{{ object.product.title }}" disabled>
        </div>

        <!-- User -->
        <div class="col-md-6 mb-3">
          <label class="form-label">{% trans "User" %}</label>
          <input class="form-control" type="text" value="{{ object.user.user_profile.get_fullname }}" disabled>
        </div>

        <!-- Rate -->
        <div class="col-md-6 mb-3">
          <label class="form-label">{% trans "Rating" %}</label>
          {{ form.rate }}
        </div>

        <!-- Status -->
        <div class="col-md-6 mb-3">
          <label class="form-label">{% trans "Status" %}</label>
          {{ form.status }}
        </div>

        <!-- Description -->
        <div class="col-md-12 mb-3">
          <label class="form-label">{% trans "Description" %}</label>
          {{ form.description }}
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="card-footer">
      <div class="d-flex pt-5 justify-content-end">
        <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:review-list' %}">
          {% trans "Back" %}
        </a>
        <button class="btn btn-primary ms-3" type="submit">
          {% trans "Save Changes" %}
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
