{% extends 'base.html' %}
{% load static i18n %}
{% load shop_tags %}

{% block content %}
<!-- ========== MAIN CONTENT ========== -->
<!-- Hero -->
<div class="position-relative">
  <!-- Swiper Main Slider -->
  <div class="js-swiper-shop-classic-hero swiper bg-light">
    <div class="swiper-wrapper">
      {% for object in object_list %}
      <!-- Slide -->
      <div class="swiper-slide">
        <!-- Container -->
        <div class="container content-space-t-4 content-space-b-3">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
              <div class="mb-6">
                <h1 class="display-4 mb-4">{{object.title}}</h1>
                <p> {{object.breif_description}} </p>
              </div>

              <div class="d-flex gap-2">
                <a class="btn btn-primary rounded-pill" href="{% url 'shop:product-detail' slug=object.slug %}">
                  {% trans "View Details" %}
                </a>
              </div>
            </div>
            <!-- End Col -->
            <div class="col-lg-7 order-lg-1">
              <div class="w-75 mx-auto">
                {% if object.image_url %}
                <img class="img-fluid" src="{{ object.image_url }}" alt="{{ object.title }}">
                {% elif object.image %}
                <img class="img-fluid" src="{{ object.image.url }}" alt="{{ object.title }}">
                {% else %}
                <img src="{% static 'img/default.jpg' %}" alt="No image">
                {% endif %}
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>
      <!-- End Slide -->
      {% empty %}
      <p class="text-center py-5">هیچ کالایی برای نمایش وجود ندارد</p>
      {% endfor %}

    </div>

    <!-- Arrows -->
    <div class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"></div>
    <div class="js-swiper-shop-classic-hero-button-next swiper-button-next"></div>
  </div>
  <!-- End Swiper Main Slider -->

  <!-- Swiper Thumbs Slider -->
  <div class="position-absolute bottom-0 start-0 end-0 mb-3">
    <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem;">
      <div class="swiper-wrapper">
        {% for object in object_list %}
        <div class="swiper-slide">
          <a class="js-swiper-thumb-progress swiper-thumb-progress-avatar"
            href="{% url 'shop:product-detail' slug=object.slug %}" tabindex="0">

            {% if object.image_url %}
            <img class="swiper-thumb-progress-avatar-img" src="{{ object.image_url }}" alt="{{ object.title }}">
            {% elif object.image %}
            <img class="swiper-thumb-progress-avatar-img" src="{{ object.image.url }}" alt="{{ object.title }}">
            {% else %}
            <img class="swiper-thumb-progress-avatar-img" src="{% static 'img/default.jpg' %}" alt="No image">
            {% endif %}
          </a>
        </div>
        {% empty %}
        <p class="text-center py-3">هیچ کالایی برای نمایش وجود ندارد</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End Swiper Thumbs Slider -->


</div>
<!-- End Hero -->

<!-- Icon Blocks -->
<div class="border-bottom">
  <div class="container content-space-2">
    <div class="row">
      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
              alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">
              {% trans "Secure Checkout" %}
            </h4>
            <p class="small mb-0">
              {% trans "Guaranteed Secure Checkout" %}
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}"
              alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">
              {% trans "30 Days Return" %}
            </h4>
            <p class="small mb-0">
              {% trans "Return within 30 days for full refund" %}
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}"
              alt="Image Description">
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">
              {% trans "Free Shipping" %}
            </h4>
            <p class="small mb-0">
              {% trans "Get free standard shipping automatically on every order" %}
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Icon Blocks -->

{% show_latest_products %}

<!-- Subscribe -->
{% include 'subscribe.html' %}
<!-- End Subscribe -->

<!-- Clients -->
<div class="container content-space-2">
  <div class="row">
    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/hollister-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/levis-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/new-balance-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/puma-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/nike-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/tnf-dark.svg' %}" alt="Logo">
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Clients -->
<!-- ========== END MAIN CONTENT ========== -->
{% endblock content %}


{% block extra_js %}
<script>
  $(document).on('click', '.btn-add-to-cart', function () {
    const productId = $(this).data('product-id');

    $.ajax({
      url: '{% url "cart_api:add-to-cart-api" 0 %}'.replace('0', productId),
      type: 'POST',
      data: {
        product_id: productId,
        quantity: 1
      },
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      success: function (response) {
        if (response.total_quantity !== undefined) {
          $("#total-cart-item-count").text(response.total_quantity);
        }
      },
      error: function (xhr, status, error) {
        alert("خطا در افزودن کالا به سبد خرید.");
        console.error(error);
      }
    });
  });
</script>
{% endblock extra_js %}