{% extends 'base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block content %}
 <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2"> فرم بازیابی رمز عبور</h1>
          <p>لطفا رمز عبور جدید خود را وارد نمایید 
          </p>
        </div>
        <!-- End Heading -->
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label class="form-label"  for="new_password" tabindex="1">رمز عبور جدید: </label>
        <input type="password" class="form-control form-control-lg text-center" placeholder="password" name="new_password1" required>
        </div>
        <div class="mb-3">
        <label class="form-label" for="confirm_password" tabindex="1">تکرار رمز عبور: </label>
        <input type="password" class="form-control form-control-lg text-center" placeholder="confirm_password" name="new_password2" required>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary btn-lg">بازیابی رمز عبور</button>
        </div>
            </form>
        </div>
    </div>

{% endblock content %}