{% extends 'dashboard/admin/base.html' %}
{% load static i18n %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">{% trans "Account" %}</li>
        <li class="breadcrumb-item">{% trans "Admin Dashboard" %}</li>
        <li class="breadcrumb-item">{% trans "Products" %}</li>
        <li class="breadcrumb-item active" aria-current="page">
            {% trans "Delete Product" %}
        </li>
    </ol>
</nav>
{% endblock %}

{% block dashboard_content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">{% trans "Delete Product" %}</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex">
                <p>{% trans "Are you sure you want to delete the following product?" %}</p>
                <div class="row">
                    <span>{% trans "Product ID" %}: {{ object.id }}</span>
                    <span>{% trans "Product Name" %}: {{ object.title }}</span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <label for="validationValidFileInput1">{% trans "Product Image" %}</label>
                {{ form.image }}
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex pt-5 justify-content-end">
                <button type="submit" class="btn btn-danger ms-3">{% trans "Confirm Delete" %}</button>
                <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:product-edit' pk=object.pk %}">
                    {% trans "Back" %}
                </a>
            </div>
        </div>
    </form>
</div>
<!-- End Body -->
{% endblock %}
