{% extends 'dashboard/admin/base.html' %}
{% load static i18n %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">{% trans "Account" %}</li>
    <li class="breadcrumb-item">{% trans "Admin Dashboard" %}</li>
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Edit Profile" %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block dashboard_content %}
<!-- Card: Profile Image -->
<div class="card mb-3">
  <div class="card-header border-bottom">
    <h4 class="card-header-title">{% trans "Edit Image" %}</h4>
  </div>

  <!-- Body -->
  <div class="card-body">
    <div class="row mb-4">
      <label class="col-sm-3 col-form-label form-label">{% trans "Profile Picture" %}</label>
      <div class="col-sm-9">
        <form action="{% url 'dashboard:admin:profile-image-edit' %}" method="post" class="d-flex align-items-center"
          enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Avatar -->
          <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
            <img id="avatarImg" class="avatar-img" src="{{request.user.user_profile.get_image}}" alt="{% trans 'Image Description' %}">
          </label>

          <div class="d-grid d-sm-flex gap-2 me-4">
            <div class="form-attachment-btn btn btn-primary btn-sm">
              {% trans "Upload Image" %}
              <input type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader" name="image"
                accept="image/png, image/jpeg, image/jpg">
            </div>
            <button type="submit" class="js-file-attach-reset-img btn btn-white btn-sm">{% trans "Submit" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Card -->

<!-- Card: Basic Information -->
<div class="card mb-3">
  <div class="card-header border-bottom">
    <h4 class="card-header-title">{% trans "Basic Information" %}</h4>
  </div>
  <form action="." method="post">
    <div class="card-body">
      {% csrf_token %}

      <!-- Full Name -->
      <div class="row mb-4">
        <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">{% trans "Full Name" %}</label>
        <div class="col-sm-9">
          <div class="input-group">
            {{form.first_name}}
            {{form.last_name}}
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-4">
        <label for="emailLabel" class="col-sm-3 col-form-label form-label">{% trans "Email" %}</label>
        <div class="col-sm-9">
          <input type="email" class="form-control text-center" value="{{request.user.email}}" disabled>
        </div>
      </div>

      <!-- Phone -->
      <div class="row mb-4">
        <label for="phoneLabel" class="col-sm-3 col-form-label form-label">{% trans "Phone" %}</label>
        <div class="col-sm-9">
          <div class="input-group">
            {{form.phone_number}}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="card-footer pt-0">
      <div class="d-flex justify-content-end gap-3">
        <a class="btn btn-danger">{% trans "Cancel" %}</a>
        <button class="btn btn-primary" type="submit">{% trans "Save Changes" %}</button>
      </div>
    </div>
  </form>
</div>
<!-- End Card -->
{% endblock %}
