{% extends 'dashboard/admin/base.html' %}
{% load static i18n %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light mb-0">
    <li class="breadcrumb-item">{% trans "Account" %}</li>
    <li class="breadcrumb-item">{% trans "Admin Dashboard" %}</li>
    <li class="breadcrumb-item active" aria-current="page">
      {% trans "Security Settings" %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block dashboard_content %}
<div class="col-lg-9">
  <!-- Card: Change Password -->
  <div class="card mb-3">
    <div class="card-header border-bottom">
      <h5 class="card-header-title">{% trans "Change Password" %}</h5>
    </div>

    <div class="card-body">
      <form action="." method="post">
        {% csrf_token %}

        <!-- Current Password -->
        <div class="row mb-4">
          <label for="currentPasswordLabel" class="col-sm-3 col-form-label form-label">
            {% trans "Current Password" %}
          </label>
          <div class="col-sm-9">
            {{ form.old_password }}
          </div>
        </div>

        <!-- New Password -->
        <div class="row mb-4">
          <label for="newPassword" class="col-sm-3 col-form-label form-label">
            {% trans "New Password" %}
          </label>
          <div class="col-sm-9">
            {{ form.new_password1 }}
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="row mb-4">
          <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">
            {% trans "Confirm New Password" %}
          </label>
          <div class="col-sm-9">
            <div class="mb-3">
              {{ form.new_password2 }}
            </div>

            <h5>{% trans "Password Requirements:" %}</h5>
            <p class="card-text small">{% trans "Make sure the following conditions are met:" %}</p>

            <ul class="small">
              <li>{% trans "At least 8 characters (longer is better)" %}</li>
              <li>{% trans "At least one lowercase letter" %}</li>
              <li>{% trans "At least one uppercase letter" %}</li>
              <li>{% trans "At least one number, symbol, or whitespace character" %}</li>
            </ul>
          </div>
        </div>

        <div class="d-flex justify-content-end gap-3">
          <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End Card -->

  <!-- Card: Connected Accounts -->
  <div class="card mb-3">
    <div class="card-header border-bottom">
      <h5 class="card-header-title">{% trans "Connected Accounts" %}</h5>
    </div>

    <div class="card-body">
      <p class="card-text">
        {% trans "Integrated account features make it easier to collaborate with people you know in Front." %}
      </p>

      <form>
        <div class="list-group list-group-flush list-group-no-gutters">
          <!-- Item -->
          <div class="list-group-item">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-xs avatar-4x3"
                     src="{% static 'svg/brands/google-icon.svg' %}"
                     alt="{% trans 'Google Icon' %}">
              </div>

              <div class="flex-grow-1 me-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="mb-1">{% trans "Google" %}</h6>
                    <span class="d-block small text-body">{% trans "Calendar and Contacts" %}</span>
                  </div>

                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="connectedAccounts1" disabled>
                      <label class="form-check-label" for="connectedAccounts1"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
        </div>
      </form>
    </div>
  </div>
  <!-- End Card -->
</div>
{% endblock %}
