{% load static i18n %}

<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
  <div class="offcanvas-body">
    <div class="container">
      <div class="w-lg-75 mx-lg-auto">
        <div class="d-flex justify-content-end mb-3">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="{% trans 'Close' %}"></button>
        </div>

        <div class="mb-7">
          <!-- Form -->
          <form action="{% url 'shop:product-list' %}" method="get">
            <div class="input-card">
              <div class="input-card-form">
                <input type="text" class="form-control form-control-lg" placeholder="{% trans 'Search products' %}"
                  aria-label="{% trans 'Search products' %}" name="q" value="{{ request.GET.q|default:'' }}">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">{% trans "Search" %}</button>
            </div>
          </form>

          <!-- End Form -->
        </div>

      </div>
    </div>
  </div>
</div>