 .formatted-price {
   font-weight: bold;
 }

  .btn-outline-secondary.active{
    background-color: red !important;
    color: white !important;
  }

  #starRating .star {
  color: #ffc107; /* Bootstrap warning/yellow */
  transition: color 0.2s;
}
